@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');

body {
  background-color: #FCFAF5;
  color: #000;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding: 100px;
}

.ContentFeature {
  background-color: #ffff;
  border-radius: 20px;
  padding: 20px 40px 40px;
  position: relative;
  text-align: center;
  /* コンフリクト用です。 */
}

.ContentFeature__icon {
  background-color: #ffff;
  color: #F79214;
  border: 4px solid #ffff;
  border-bottom: 0;
  border-radius: 100px 100px 0 0;
  font-size: 21px;
  font-weight: 700;
  height: 50px;
  line-height: 28px;
  margin: auto;
  padding: 25px 15px 0;
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  width: 100px;
  /* コンフリクト用です。 */
}

.ContentFeature__number {
  font-family: 'Lato', sans-serif;
  font-size: 51px;
  font-weight: 900;
  line-height: 74px;
  letter-spacing: 0.1em;
  margin-top: 15px;
  margin-bottom: 10px;
  /* コンフリクト用です。 */
}

.ContentFeature__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ContentFeature__list>a {
  margin-bottom: 20px;
  text-decoration: none;
  width: 49%;
}

.ContentFeature__list>a:nth-of-type(3),
.ContentFeature__list>a:nth-of-type(4) {
  margin-bottom: 0;
}

.ContentFeatureGraduateCard {
  display: flex;
  flex-direction: column;
}